---
import Gallery from "../features/gallery/Gallery"
import { ClientRouter} from 'astro:transitions'; 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/razor-icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/src/global.css" />
		<title>Cortes | Franii</title>
	</head>
	<body>
		<main>
			<Gallery client:load />
            <ClientRouter />
		</main>
	</body>
</html>